.form,
.form label,
.expiration {
    width: 100%;
    display: grid;
}

.form {
    row-gap: 20px;
    padding-inline: 24px;
    padding-block: 90px 40px;
}

.form label,
.expiration {
    position: relative;
}

.form label {
    row-gap: 9px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #21092F;
    isolation: isolate;
}

.form input {
    height: 45px;
    width: 100%;
    padding-inline: 16px;
    background-color: white;
    border: 1px solid #DFDEE0;
    border-radius: 8px;
    font-size: 18px;
}

.form input::placeholder {
    color: #21092F;
    opacity: 0.25;
}

.form input:is(:hover, :focus),
.form input[aria-invalid='true'] {
    outline: none;
    border-color: transparent;
}

.form label:focus-within::after,
.expiration:focus-within::after,
.form label:has(input[aria-invalid='true'])::after,
.expiration:has(input[aria-invalid='true'])::after {
    content: '';
    position: absolute;
    top: 24px;
    height: 47px;
    border-radius: 9px;
    z-index: -1;
}

.form label:focus-within::after,
.expiration:focus-within::after {
    background: linear-gradient(to bottom, #6348FE, #610595);
}

.form label:has(input[aria-invalid='true'])::after,
.expiration:has(input[aria-invalid='true'])::after {
    background: #FF5050;
}

.form label:focus-within::after,
.form label:has(input[aria-invalid='true'])::after {
    width: calc(100% + 2px);
}

.form label:focus-within::after,
.form label:has(input[aria-invalid='true'])::after,
.expiration:has(input:first-of-type:is(:hover, :focus), input:first-of-type[aria-invalid='true'])::after {
    left: -1px;
}

.expiration:has(input:last-of-type:is(:hover, :focus))::after {
    right: -1px;
}

.expiration:focus-within::after,
.expiration:has(input[aria-invalid='true'])::after {
    width: calc(calc(100% / 2) - 2px);
}

.details {
    display: flex;
    gap: 11px;
}

.details > label,
.details label:last-child span {
    display: block;
    margin-bottom: 9px;
}

.expiration {
    height: fit-content;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
}

.expiration label {
    grid-column: 1 / span 2;
    margin-bottom: 9px;
}

.form p {
    color: #FF5050;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
}

.details p {
    margin-top: 8px;
}

.expiration p {
    grid-column: 1 / span 2;
}