.card_container {
    position: relative;
    object-fit: cover;
    width: 100%;
}

.card_container img {
    width: 100%;
}

.cards {
    position: absolute;
    display: grid;
    top: 32px;
    left: 16px;
    right: 16px;
}

.cards > div {
    position: relative;
    max-width: 286px;
    color: white;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1.29px;
}

.cards > div:first-child {
    justify-self: end;
}

.cards > div:last-of-type {
    margin-top: -73px;
}

.cards > div:last-of-type::before,
.cards > div:last-of-type::after {
    content: '';
    position: absolute;
    border-radius: 100%;
}

.cards > div:last-of-type::before {
    height: 30px;
    width: 30px;
    background-color: white;
    top: 18px;
    left: 19px;
}

.cards > div:last-of-type::after {
    height: 14px;
    width: 14px;
    border:1px solid white;
    top: 26px;
    left: 60px;
}

.cvc {
    position: absolute;
    right: 32px;
    top: 72px;
}

.card_details {
    position: absolute;
    inset: 20px;
    top: auto;
}

.card_details h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.2px;
    margin-bottom: 17px;
}

.card_details div {
    display: flex;
    justify-content: space-between;
}