#large-bg,
#small-bg {
    width: 100%;
}

#large-bg {
    display: none;
}

@media only screen and (min-width: 481px) {
    #large-bg {
        display: initial;
    }

    #small-bg {
        display: none;
    }
}