form {
    display: grid;
    width: 20rem;
    grid-template-columns: repeat(4, 25%);
    justify-self: center;
}

label {
    grid-column: span 2;
}

label:first-child,
label:nth-of-type(2),
input:first-of-type,
input:nth-of-type(2),
button {
    grid-column: 1 / span 4;
}

#month,
#year,
#cvc {
    grid-row: 6;
}

#cvc {
    grid-column: 3 / span 2;
}