#root {
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

@media screen and (min-width: 900px) {
    #root {
        grid-template-columns: 1.2fr 2fr;
    }
}