@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', Arial, sans-serif;
}

html {
  position: relative;
}

.visually-hidden {
  display: none;
}